@media (min-width: 991px) {

	.header__nav>ul>li>a,
	.header__nav>ul>li>span {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: -30px;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: 3px;
			background-color: #000101;
			transition: linear .2s;
			opacity: 0;
		}

		&:hover {
			&::after {
				opacity: 1;
			}
		}
	}

	.header__item-child-inner {
		display: flex;
		margin: 0 0 0 -10px;
		width: 100%;

		.header__item-col {
			width: calc(14.9% - 10px) !important;
			margin: 0 0 0 10px !important;
		}

		.header__item-brands {
			display: none;
		}
	}



	.header__item-child {
		padding: 45px 0;
		position: absolute;
		background-color: #fff;
		left: 0;
		right: 0;
		background-color: #fff;
		opacity: 0;
		pointer-events: none;
		transition: linear .2s;
		box-shadow: 0px 330px 92px 0px rgba(0, 0, 0, 0), 0px 211px 84px 0px rgba(0, 0, 0, 0.01), 0px 119px 71px 0px rgba(0, 0, 0, 0.03), 0px 53px 53px 0px rgba(0, 0, 0, 0.04), 0px 13px 29px 0px rgba(0, 0, 0, 0.05);
		background: rgba(255, 255, 255, 1);

		.container {
			display: flex;
		}
	}

	.header__has-child {
		&:hover {
			.header__item-child {
				opacity: 1;
				pointer-events: inherit;
			}
		}
	}

	.header__item-col:nth-child(1) {
		max-width: 156px;
		width: 100%;
		margin: 0 60px 0 0;
	}

	.header__item-col:nth-child(2) {
		max-width: 156px;
		width: 100%;
		margin: 0 60px 0 0;
	}

	.header__item-col:nth-child(3) {
		max-width: 156px;
		width: 100%;
		margin: 0 60px 0 0;
	}

	.header__item-col:nth-child(4) {
		margin: 0 20px 0 0;
		max-width: 210px;
		width: 100%;
	}

	.header__item-col:nth-child(5) {
		margin: 0 0 0 auto;
	}




}

@media (max-width: 1300px) {
	.dss-order__gallery {
		max-width: 100px;
		flex-shrink: 0;
	}

	.dss-order__box-top {
		flex-wrap: wrap;
	}

	.dss-cabinet__inner {
		justify-content: flex-start;
	}

	.dss-basket__col:nth-child(1) {
		max-width: 525px;
	}

	.dss-basket {
		.dss-basket__item-img {
			width: 80px;
			margin: 0 10px 0 0;
		}

		.dss-card__wrap {
			max-width: 375px
		}

		.dss-card__col-wrap {
			max-width: 100%;
		}

		.size-wrap {
			max-width: calc(100vw - 120px);
		}

	}

	.dss-order .dss-card__type-col:nth-child(1) {
		max-width: 395px;
	}

	.dss-order {
		.dss-basket__mob-opt {
			display: flex;
			padding: 0 0 0 60px;
			margin: 0 0 10px 0;
		}

		.dss-basket__mob-opt span {
			display: flex;
			font-size: 11px;
			line-height: 100%;
			font-weight: 700;
			padding: 0 4px 0 0;
			margin: 0 4px 0 0;
			border-right: 1px solid #c8c8c8;
		}

	}

	.dss-basket__mob-opt span:last-child {
		border: none !important;
	}

	.dss-order .dss-basket__content-top {
		margin: 0;
	}

	.dss-order__top-col:nth-child(3) {
		margin: 0 0 0 10px;
	}

	.dss-order .dss-card__wrap .dss-available {
		flex-shrink: 0;
	}

	.dss-order__top-col:nth-child(2) {
		max-width: 325px;
		width: 100%;
	}

	.dss-order__box-item-col:nth-child(2),
	.dss-order__box-item-col:nth-child(3) {
		width: 11%;
		font-size: 11px;
		padding: 20px 5px;
	}

	.dss-order__box-item-col:nth-child(2) {
		margin: 0 0 0 auto;
	}

	.dss-order {
		.dss-card__wrap {
			max-width: 477px;
		}

		.dss-card__type-col {
			.size-wrap {
				max-width: 367px;
				width: 100%;
			}
		}
	}

	.dss-order__box-item-col:nth-child(1) {
		width: 82%;
	}

	.dss-cabinet__right {
		max-width: 700px;
	}

	.dss-order__img {
		height: auto;
	}

	.dss-order__box-item-col:nth-child(1) {
		width: 75%;
	}




}

@media (max-width: 1200px) {
	.dss-item .thumbsSwiper .swiper-slide {
		height: 60px;
	}

	.header__logo {
		width: 150px;
	}

	.header__nav a {
		font-size: 14px;
	}

	.header__nav li {
		margin: 0 25px 0 0;
	}

	.header .btn {
		font-size: 12px;
		padding: 11.5px 15px;
	}

	.pagination span,
	.pagination a {
		width: 24px;
		height: 24px;
		font-size: 9.46px;
	}

	.pagination li+li {
		margin: 0 0 0 3px;
	}

	.dss-filter__right-list {
		margin: 0 0 0 -10px;
	}

	.dss-filter .dss-item {
		width: calc(33.33333% - 12px);
		margin: 0 0 10px 10px;
	}

	.dss-card {
		.size-wrap {
			max-width: 250px;
		}
	}

	.dss-order__item-title {
		font-size: 12px;
		text-decoration: underline;
		text-decoration-color: #c5c5c5;
		text-underline-offset: 3px;
	}

	.dss-order__item-date,
	.dss-order__item-price,
	.dss-order__item-num {
		font-size: 11px;
	}

	.dss-order__item-num img {
		width: 9px;
	}

	.dss-order__item-status {
		font-size: 11px;
		padding: 2px 10px;
		height: 23px;
	}

}


@media (max-width: 991px) {
	.dss-basket {
		.dss-card__type-col:nth-child(1) {
			max-width: 75vw;
		}
	}

	.dss-cabinet__right {
		max-width: 100%;
	}

	.pst-basket {
		top: 47px;
	}

	.header__item-list {
		padding: 0 0 0 10px;

		a {
			font-size: 12px;
		}
	}

	.header__show-all-item {
		margin: 5px 0 10px 0;
		display: flex;
		color: rgba(119, 119, 119, 1);
		font-size: 12px !important;
		font-weight: 400 !important;
		line-height: 16px;
		text-transform: inherit !important;
	}

	.header__menu-btn {
		display: block;
		margin: 0 20px 0 0;
		width: 20px;
		height: 16px;
		padding: 0;
		border: none;
		outline: none;
		background-color: transparent;
		position: relative;
		flex-shrink: 0;

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 2px;
			background-color: #000101;
			border-radius: 40px;
			transition: linear .2s;
		}

		&::after,
		&::before {
			content: "";
			position: absolute;
			left: 50%;
			transform: translatex(-50%);
			width: 100%;
			height: 2px;
			background-color: #000101;
			border-radius: 40px;
			transition: linear .2s;
		}

		&::after {
			top: 0;
		}

		&::before {
			bottom: 0;
		}
	}

	.header__logo {
		width: 130px;
		margin: 0 10px 0 0;
	}

	.header__box {
		padding: 35px 15px;
		max-width: 100%;
		margin: 0;
		position: fixed;
		top: 46px;
		right: 0;
		left: 0;
		width: 100%;
		height: calc(80vh - 46px);
		overflow: auto;
		z-index: 99999;
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		justify-content: flex-end;
		transition: linear .4s;
		transform: translateX(120%);
		background-color: #fff;
		opacity: 0;
	}

	.header__box.open {
		transform: translateX(0);
		opacity: 1;
	}

	.header__nav {
		overflow: auto;
	}

	.header__nav>ul {
		flex-direction: column;
	}

	.header__nav li {
		margin: 0;
	}

	.header__nav>ul>li,
	.header__has-child>span {
		display: block;
		margin: 0 0 6px 0;
		font-size: 12px;
	}

	.header__has-child>span,
	.header__nav>ul>li {
		margin: 0;
	}

	.header__item-col:last-child,
	.header__item-col:nth-child(4) {
		display: none;
	}

	.header__item-child-inner {
		.header__item-col {
			display: none;
		}
	}

	.header__item-child {
		display: none;
	}

	.header__item-title {
		font-size: 12px;
		margin: 0 0 2px 0;
	}

	.header__item-list {
		margin: 0 0 12px 0;

		a {
			color: rgba(119, 119, 119, 1);
		}
	}


	.header__search {
		margin: 0 0 0 auto;
	}

	.header__search,
	.header__cabinet,
	.header__bascket {
		width: 32px;
		height: 32px;

		img {
			width: 80%;
			height: 80%;
			object-fit: contain;
		}
	}

	.header__cabinet {
		margin: 0 0 0 7px;

		img {
			width: 49%;
			height: 49%;
		}
	}

	.header__bascket {
		margin: 0 0 0 7px;

		img {
			width: 95%;
			height: 95%;
		}
	}

	.header__bascket span {
		width: 15px;
		height: 15px;
		font-size: 10px;
	}

	.header__inner {
		height: 46px;
	}

	.wrapper {
		padding: 46px 0 0 0;
	}

	.header__search-form {
		top: 46px;
	}

	.header__btn-box {
		margin: 0 0 30px 0;
		width: 100%;

		.btn {
			width: 100%;
		}

		ul {
			width: 100%;
		}
	}

	.header__nav {
		width: 100%;
	}

	.header__has-child>span {
		position: relative;

		&::after,
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			width: 9px;
			height: 1.25px;
			background-color: rgba(119, 119, 119, 1);
			transition: linear .2s;
		}

		&::before {
			transform: translateY(-50%) rotate(90deg);
		}
	}

	.header__nav>ul>li:first-child {
		border-top: 1px solid rgba(237, 237, 237, 1);
	}

	.header__nav>ul>li {
		padding: 6px 0;
		border-bottom: 1px solid rgba(237, 237, 237, 1);
	}

	.header__nav>ul>li>a {
		font-size: 12px;
	}

	.header__item-brands {
		max-width: 360px;
		display: flex;
		flex-wrap: wrap;
		margin: 40px 0 0 -20px;

		.header__item-brand {
			width: calc(33.33333% - 20px);
			margin: 0 0 20px 20px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				display: block;
			}
		}
	}

	.header.open {
		.header__menu-btn::before {
			bottom: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}

		.header__menu-btn span {
			opacity: 0;
		}

		.header__menu-btn::after {
			bottom: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	.pst-basket {
		height: calc(100dvh - 46px);
	}




	.footer__col:nth-child(2) {
		margin: 0 95px 0 auto;
	}

	.dss-filter__left {
		padding: 16px;
		position: fixed;
		top: 46px;
		bottom: 0;
		right: 0;
		z-index: 99999;
		background-color: #fff;
		max-width: 300px;
		width: 100%;
		height: calc(100vh - 46px);
		overflow: auto;
		transform: translateX(100%);
		opacity: 0;
		transition: linear .2s;
		margin: 0 0 0 20px;
	}

	.dss-filter__left.open {
		transform: translateX(0);
		opacity: 1;
	}

	.dss-filter__filter-btn {
		height: 27px;
		width: 79px;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		border: 1px solid rgba(0, 1, 1, 1);
		border-radius: 2px;
		background: #fff;
		font-size: 12px;

		img {
			margin: 0 3px 0 0;
		}
	}

	.dss-filter__category-wrap,
	.dss-filter__size-wrap {
		font-size: 0;
		margin: 0 -3px 0 0;
	}

	.dss-filter__category-wrap select,
	.dss-filter__size-wrap select {
		height: 30px;
		font-size: 12px;
	}

	.dss-filter__category-wrap {
		&:after {
			width: 11px;
			height: 8px;
			left: 15px;
			right: auto;
			background-image: url("../images/icons/category-filter.svg");
			border: none;
			transform: translateY(-50%) rotate(0);
		}

		select {
			padding: 5px 5px 5px 20px;
		}
	}

	.dss-filter__close {
		margin: 0 0 15px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 16px;
		height: 16px;
		background-color: transparent;
		border: none;
		padding: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			display: block;
		}
	}

	.dss-card__inner {
		flex-direction: column;
	}

	.dss-card__left {
		margin: 0 0 40px 0;
	}

	.dss-basket__top {
		display: none;
	}

	.dss-basket__col:nth-child(2),
	.dss-basket__col:nth-child(3),
	.dss-basket__col:nth-child(4) {
		display: none;
	}

	.dss-basket__item .dss-basket__col:nth-child(1) {
		padding: 13px 0;
		max-width: 100%;
		width: 100%;
		border: none;
		border-bottom: 1px solid #c8c8c8;
	}

	.dss-basket .dss-card__wrap {
		max-width: none;
		width: 100%;
	}

	.dss-basket__mob-opt {
		margin: 0 0 10px 0;
		display: flex;
		align-items: center;

		span {
			display: flex;
			font-size: 11px;
			line-height: 100%;
			font-weight: 700;
			padding: 0 4px 0 0;
			margin: 0 4px 0 0;
			border-right: 1px solid #c8c8c8;
		}

	}

	.dss-basket__item {
		position: relative;
	}

	.dss-basket__col:nth-child(5) {
		position: absolute;
		border: none;
		width: 16px;
		height: 16px;
		top: 15px;
		right: 0;
	}

	.dss-basket__content-top {
		flex-direction: column-reverse;
		align-items: flex-start;
		padding: 0 0 0 55px;
		margin: 0 0 2px 0;
	}

	.dss-basket__mob-opt {
		padding: 0 0 0 55px;
	}

	.dss-basket__sticker {
		margin: 0 0 2px 0;
		font-size: 9px;
	}

	.dss-basket .dss-basket__item-img {
		width: 46px;
		position: absolute;
	}

	.dss-basket__title {
		font-size: 11px;
		font-weight: 400;
	}

	.header__cabinet--login {
		img {
			width: 25px;
			height: 25px;
		}
	}

	.dss-cabinet__left {
		padding: 16px;
		position: fixed;
		top: 46px;
		bottom: 0;
		right: 0;
		z-index: 999;
		background-color: #fff;
		max-width: 295px;
		width: 100%;
		height: calc(100vh - 46px);
		overflow: auto;
		transform: translateX(100%);
		opacity: 0;
		transition: linear .2s;
		margin: 0 0 0 20px;
	}

	.dss-cabinet__left.open {
		transform: translateX(0);
		opacity: 1;
	}

	.dss-cabinet__close {
		margin: 0 0 15px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 16px;
		height: 16px;
		background-color: rgba(0, 0, 0, 0);
		border: none;
		padding: 0;
	}

	.dss-basket {
		.dss-card__type-title {
			margin: 0 0 6px 0;
		}
	}


}


@media (max-width: 767px) {
	.dss-order .dss-card__col-wrap {
		max-width: 100%;
	}

	.dss-order__box-top {
		flex-wrap: wrap;
	}

	.dss-order__top-col {
		max-width: 100% !important;
		width: 100%;
		margin: 0 0 20px 0 !important;
	}

	.dss-item .thumbsSwiper .swiper-slide {
		height: 45px;
	}

	.modal {
		padding: 55px 20px;
	}

	.modal__title {
		font-size: 14px;
	}

	.modal__text {
		font-size: 12px;
	}

	.preference__delete span {
		font-size: 11px;
	}

	.dss-basket {
		.size-wrap {
			width: 73vw !important;
		}

		.dss-card__type-col {
			.size-wrap {
				width: 57vw !important;
			}
		}
	}

	.dss-filter__clear {
		font-size: 12px;
	}

	.dss-filter__col-title {
		font-size: 12px;
	}

	.dss-filter__col-subtitle {
		font-size: 12px;
		margin: 0 0 10px 0;
	}

	.dss-filter__col-subtitle span {
		width: 10px;
		height: 10px;
	}

	.dss-filter__col-subtitle span::after,
	.dss-filter__col-subtitle span::before {
		height: 1px;
	}

	.dss-filter__choicen-title {
		font-size: 9px;
	}

	.footer__logo {
		width: 100%;
		margin: 0 0px 15px 15px;

		img {
			width: 192px;
		}
	}

	.footer__col {
		width: 50%;
		padding: 0 20px 0 0;
	}

	.footer__col:nth-child(2) {
		margin: 0;
	}

	.main-page {
		padding: 30px 0 20px;
	}

	.main-page__list {
		margin: 0 0 0 -12px;
	}

	.main-page__item {
		width: calc(100% - 12px) !important;
		margin: 0 0 12px 12px;
		padding-bottom: 39.8%;
	}

	.main-page__item-resize-bg {
		background-position: top;
		background-size: 120%;
		background-color: #FFF1F1;
	}

	.dss-brand {
		padding: 15px 0 60px;
	}

	.dss-brand__slider {
		padding: 0 20px;
		height: 50px;
	}

	.dss-brand .swiper-button-next,
	.dss-brand .swiper-button-prev {
		margin: 0 !important;
		width: 25px;
		height: 25px;
		bottom: auto;
		top: 50%;
		transform: translateY(-50%);
	}

	.dss-brand .swiper-button-prev {
		transform: translateY(-50%) rotate(180deg);
	}

	.footer {
		margin: 30px 0 0 0;
	}

	.footer__inner {
		flex-wrap: wrap;
		padding: 10px 0 13px;
	}

	.footer__title,
	.footer ul a {
		font-size: 11px;
	}

	.footer__bottom-inner {
		font-size: 11px;
		line-height: 120%;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.footer__bottom {
		padding: 15px 0;
	}

	.footer .btn {
		padding: 5px 10px;
		font-size: 12px;
	}

	.footer__btns {
		margin: 20px 0 0 -20px;
	}

	.dss-filter .dss-item {
		padding: 5px;
		width: calc(50% - 12px);
	}

	.dss-filter__right-top {
		flex-wrap: wrap;

		.pagination-wrap {
			width: 100%;
			margin: 20px 0 0 auto;
		}
	}

	.breadcrumbs a,
	.breadcrumbs span {
		font-size: 12px;
	}

	.breadcrumbs {
		margin: 7px 0 21px 0;
	}

	.dss-item__stickers li {
		font-size: 9px;
		padding: 6px;
		line-height: 100%;
	}

	.dss-item__stickers {
		top: 10px;
	}

	.dss-item__add-favorite {
		width: 20px;
		height: 20px;
		top: 10px;
		right: 10px;

		img {
			width: 60%;
			height: 60%;
			object-fit: contain;
			display: block;
		}
	}

	.dss-item__gender {
		font-size: 9px;
		margin: 0 auto;
	}

	.dss-item__title {
		font-size: 14px;
		line-height: 145%;
		margin: 0;
	}

	.dss-item__size {
		font-size: 9px;
		line-height: 140%;
		margin: 0 0 15px 0;
	}

	.dss-item .btn {
		font-size: 10px;
		height: 23px;
	}

	.dss-item__price-total {
		font-size: 10px;
	}

	.dss-card__right-top {
		flex-direction: column-reverse;
		padding: 0 0 10px 0;
	}

	.dss-card__right-col:nth-child(1) {
		max-width: 100%;
		margin: 0;

		.dss-card__logo-wrap {
			display: none;
		}
	}

	.dss-card__right-col-wrap {
		display: flex;
		align-items: center;
		margin: 0 0 25px 0;
	}

	.mySwiper {
		display: none;
	}

	.dss-card__right-col-wrap .dss-card__logo-wrap {
		display: block;
		margin: 30px 0 0 0;
	}

	.dss-card__left-inner .mySwiper2 {
		width: 100%;
	}

	.dss-card__left {
		max-width: 100%;
		margin: 0 0 5px 0;
	}

	.dss-card__col-box {
		padding: 15px;
	}

	.dss-card__col-line {
		font-size: 11px;
	}

	.dss-card__right-col:nth-child(2),
	.dss-card__right-col-wrap {
		max-width: 100%;
	}

	.dss-card__col-line {
		max-width: 100%;
		justify-content: space-between;
	}

	.dss-card__col-sup {
		color: srgba(85, 85, 85, 1);
		font-size: 11px;
		font-weight: 400;
		margin: 0 0 5px 0;
	}

	.dss-card__col-line span:first-child,
	.dss-card__col-line span:last-child {
		width: 50%;
	}

	.dss-card__logo-wrap {
		max-width: 100px;
		margin: 0 0 15px 0;
	}

	.dss-card__logo {
		max-width: 50px;
	}

	.dss-card__logo-wrap p {
		font-size: 5px;
	}

	.dss-card .download-btn {
		width: 20px;
		height: 20px;
	}

	.dss-card__left-inner {
		height: auto;
	}

	.dss-card .mySwiper2 .swiper-slide {
		padding-bottom: 161%;
	}

	.dss-card__left-inner .swiper-counter {
		font-size: 12.04px;
		padding: 7px;
	}

	.dss-card__left-inner .mySwiper2 .swiper-button-next,
	.dss-card__left-inner .mySwiper2 .swiper-button-prev {
		width: 38px;
		height: 38px;
	}

	.dss-card__left-inner .mySwiper2 .swiper-button-prev {
		left: calc(50% - 25px);
	}

	.dss-card__left-inner .mySwiper2 .swiper-button-next {
		left: calc(50% + 25px);
	}

	.dss-card__col-line {
		margin: 0 0 0px 0
	}

	.size-wrap {
		max-width: none !important;
		width: 100% !important;
	}

	.dss-card__type-col:nth-child(1) {
		max-width: calc(100% - 90px) !important;
	}

	.dss-card__title {
		font-size: 16px;
	}

	.dss-card .dss-item__add-favorite {
		padding: 10px;
		width: 35px;
		height: 35px;

		img {
			width: 18px;
			height: 18px;
		}
	}

	.dss-card__info {
		font-size: 10px;
		line-height: 145%;
	}

	.dss-card__colors-title {
		font-size: 12px;
	}

	.dss-card__colors-item {
		width: 40px;
	}

	.dss-card__size-top strong {
		font-size: 8px;
	}

	.dss-card__size-top p {
		font-size: 10px;
	}

	.dss-card__size-top p img {
		width: 10px;
	}

	.dss-card__size-top {
		padding: 15px 0 0 0;
		margin: 20px 0 0 0;
	}

	.dss-card__wrap-line {
		font-size: 8px;
		width: 50px;
		height: 22px;
	}

	.dss-size {
		width: 24px !important;
		height: 22px !important;
		font-size: 9px !important;
		margin: 0 0 0 2px !important;
	}

	.size-wrap__line input {
		font-size: 9px !important;
	}

	.size-wrap__line {
		margin: 0 0 2px 0;
	}

	.dss-card__type-col:nth-child(1) .dss-card__type-title {
		margin: 0 0 4px 0;
		line-height: 110%;
		font-size: 8px !important;
	}

	.dss-card__type-title {
		margin: 0 0 4px 0;
		line-height: 110%;
		font-size: 6px !important;
	}

	.dss-card__col-wrap .dss-size {
		height: 16.5px !important;
	}

	.dss-card__type-box {
		width: 34px;
		height: 33px;
		font-size: 9px !important;
	}

	.dss-card__col-wrap-twoo {
		margin: 0 0 15px 0;
		padding: 10px 0 15px;
	}

	.dss-card .btn {
		width: 100%;
	}

	.dss-card {
		padding: 0 0 20px 0;
		overflow: hidden;
	}

	.description .btn {
		padding: 11.5px 20px;
	}

	.description__text {
		padding: 12px 15px;
		font-size: 11px;
	}

	.dss-basket__title {
		font-size: 11px;
		font-weight: 400;
	}

	.dss-basket__reviev__bot {
		flex-direction: column;

		.btn {
			font-size: 12px;
			width: 100%;
			margin: 12px 0 0 0;
			padding: 6.5px 10px;
		}
	}

	.dss-basket .dss-card__type-col:nth-child(1) .dss-card__type-title {
		font-size: 8px;
	}

	.dss-basket .dss-card__type-box {
		width: 34px;
	}

	.dss-basket .dss-card__wrap-line {
		font-size: 8px;
		width: 45px;
	}

	.dss-basket .dss-card__wrap {
		margin: 0 0 15px 0;
	}

	.dss-size-twoo {
		width: 43px !important;
	}

	.dss-basket__item .btn {
		font-size: 10px;
	}

	.dss-basket__total-sum {
		border: none;
		font-size: 18px;
		font-weight: 600;
		text-transform: inherit;
		text-align: center;
		padding: 5px 0 0 0;
		margin: 5px 0 30px;
	}

	.dss-basket__reviev-title {
		font-size: 12px;
		margin: 0;
	}

	.dss-basket__reviev textarea {
		margin: 0 0 8px 0;
	}

	.dss-basket {
		padding: 0 0 55px 0;
	}

	.pst-basket {
		max-width: 320px;
		height: calc(100dvh - 46px);

		.btn {
			font-size: 10px;
			padding: 7.5px 15px;
		}
	}

	.pst-basket__total-sum {
		margin: 24px 0;
		color: #d31217;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.pst-basket__total-sum {
		margin: 4px 0 8px;
		font-size: 14px;
	}

	.pst-basket__bot-line {
		font-size: 12px;
	}

	.pst-basket__inner {
		padding: 20px 25px 140px;
	}

	.pst-basket .dss-basket__title {
		max-width: 226px;
	}

	.pst-basket .dss-card__wrap .size-wrap {
		max-width: 184px !important;
		width: 100% !important;
	}

	.pst-basket .dss-card__col-wrap {
		margin: 10px 0 0 0;
	}

	.pst-basket {
		.dss-card__col-wrap {
			max-width: 238px;
		}

		.dss-card__type-col:nth-child(1) {
			max-width: calc(100% - 55px) !important;
		}

		.dss-available {
			margin: 6px 0 0 0;
		}

		.dss-card__type-col:nth-child(2) {
			margin: 0 5px 0 -3px;
		}
	}

	.thank {
		padding: 90px 0 50px;
	}

	.thank__title {
		font-size: 14px;
		margin: 0 0 20px 0;
	}

	.thank__inner {
		padding: 25px;
	}

	.thank__text {
		font-size: 12px;
		line-height: 180%;
	}

	.form-box {
		padding: 30px 0 60px;
	}

	.form-box__inner {
		padding: 15px;
	}

	.form-box__tab-btn {
		font-size: 12px;
		padding: 4px 16px;
	}

	.dst-form__group label {
		font-size: 11px;
		line-height: 110%;
		margin: 0 0 3px 0;
	}

	.form-box__tab {
		margin: 0 0 25px 0;
	}

	.dst-form__group input {
		height: 28px;
		padding: 2px 15px;
		font-size: 11px !important;

		&::placeholder {
			font-size: 11px !important;
		}
	}

	.dst-form__show-pass {
		top: 20px;
		right: 10px;

		img {
			transform: translate(-50%, -50%) scale(.7);
		}
	}

	.dst-form__bot label,
	.dst-form__bot a {
		font-size: 11px;
	}

	.dst-form .btn {
		margin: 26px 0 0 0;
		font-size: 12px;
		padding: 5px 24px;
	}

	.dst-form__box-sm .dst-form__group,
	.dst-form__box-md .dst-form__group,
	.dst-form__box-four .dst-form__group {
		width: calc(100% - 25px);
	}

	.dss-information__item {
		padding: 15px 15px 7px 15px;
		width: calc(100% - 24px) !important;
	}

	.dss-information__list li {
		width: calc(50% - 12px);
		margin: 0 0 12px 12px;
	}

	.dss-information__title-one {
		font-size: 18px;
		margin: 10px 0 15px 0;
	}

	.dss-information__title-twoo {
		font-size: 12px;
		padding: 0;
		margin: 0 0 10px 0;
	}

	.dss-information__title-three {
		font-size: 14px;
		max-width: 230px;
		margin: 0 auto 3px;
	}

	.dss-information__text p {
		font-size: 11px;
	}

	.dss-information__list li p {
		font-size: 10px;
		line-height: 110%;
	}

	.dss-information__list li strong {
		font-size: 10px;
		line-height: 110%;
	}

	.dss-information__tittle-four {
		font-size: 12px;
		line-height: 110%;
	}

	.dss-information__text-twoo {
		font-size: 11px;
	}

	.dss-information__bot-item {
		width: calc(100% - 24px);
		margin: 0 0 12px 24px;
	}

	.dss-information__box-bot {
		margin: 10px 0 0 -24px;
	}

	.accordeon dl {
		padding: 12px !important;
	}

	.accordeon dt {
		font-size: 12px;
	}

	.accordeon dt::after,
	.accordeon dt::before {
		right: 0;
	}

	.accordeon dd {
		font-size: 11px;
		padding: 6px 0 0 0;
	}

	.preference__box .dss-item .form__box {
		top: 10px;
		left: 10px;
	}

	.preference__box {
		margin: 0 0 0 -6px;
	}

	.preference__box .dss-item {
		padding: 6px;
		width: calc(50% - 6px);
		margin: 0 0 6px 6px;
	}

	.preference__top {
		flex-wrap: wrap;
	}

	.preference__top {
		border: none;
	}

	.preference__top-links {
		width: 100%;
		margin: 0;
		border-bottom: 1px solid #ededed;
	}

	.preference__top-box {
		margin: 10px 0 0 0;
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	.preference__top-link {
		margin: 5px 0 0 0;
		font-size: 12px;
		padding: 6px 16px;
	}

	.preference__delete {
		font-size: 12px;
	}

	.preference__title {
		font-size: 12px;
		padding: 6px 24px 6px 12px;
	}

	.dss-order__item {
		position: relative;
		flex-wrap: wrap;
		padding: 12px;
	}

	.dss-order__item-col:nth-child(1) {
		width: 100%;
	}

	.dss-order__item-col:nth-child(6) {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 15px;
		height: 15px;
		padding: 0;
		top: 15px;
		right: 10px;
	}

	.dss-order__item-col {
		margin: 0 0 5px 0;
	}

	.dss-order__item-col:nth-child(4) {
		width: 60%;
		order: 7;
		padding: 0;
		display: flex;
		justify-content: flex-end;
	}

	.dss-order__item-col:nth-child(5) {
		width: 40%;
	}

	.dss-order__item-col:nth-child(2) {
		width: 50%;
	}

	.dss-order__item-col:nth-child(3) {
		width: 50%;
		padding: 0;
		text-align: right;
	}

	.dss-order__line {
		font-size: 11px;
		line-height: 135%;
	}

	.dss-order__line span:nth-child(1) {
		width: 59px;
	}

	.dss-order__top-col:nth-child(1) {
		margin: 0 0 10px 0;
	}

	.dss-order__img {
		height: 28px;
	}

	.dss-order__gallery {
		height: 96px;
	}

	.dss-order__top-btns {
		padding: 0;
	}

	.dss-order__top-btn {
		font-size: 11px;
		margin: 0;
	}

	.dss-order__top-btn img {
		width: 16px;
		height: 16px;
		object-fit: contain;
	}

	.dss-order__review-title {
		font-size: 11px;
	}

	.dss-order__review {
		padding: 5px;
	}

	.dss-order__review textarea {
		font-size: 11px !important;

		&::placeholder {
			font-size: 11px !important;
		}
	}

	.dss-order {
		.dss-basket__title {
			max-width: 220px;
			line-height: 130%;
			margin: 0 0 5px 0;
		}

		.size-wrap {
			width: calc(100vw - 175px) !important;
		}

		.dss-card__type-col:nth-child(1) {
			.size-wrap {
				width: calc(100vw - 103px) !important;
			}
		}
	}

	.dss-order .dss-card__wrap {
		max-width: 100%;
	}

	.dss-order__box-item-col:nth-child(2),
	.dss-order__box-item-col:nth-child(3) {
		display: none;
	}

	.dss-personal__item-inner {
		flex-direction: column;
	}

	.dss-personal__add-photo {
		margin: 0;
	}

	.dss-personal__item {
		padding: 15px;
	}

	.dss-personal__item-title {
		font-size: 12px;
		padding: 0 0 2px 0;
		margin: 0 0 15px 0;
	}

	.dss-personal__add-photo {
		max-width: 100%;
		height: auto;
	}

	.delivery-options {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		margin: 6px 0 15px;

		.option {
			font-size: 11px;
		}
	}

	.dss-personal .btn {
		font-size: 12px;
		padding: 7.5px 24px;
	}








}


@media (max-width: 576px) {
	.footer__col {
		width: 100%;
	}





}